*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Courier New', Courier, monospace;

    
}

.slider-container{
    width: 800px;
    height: 450px;
    margin:  70px  auto 0;

    position: relative;
    background-color: black;
}
.slider-container img{
    position: absolute;
    width: inherit;
    height: inherit; 
    opacity: 0;
    transition: opacity 1s;
    z-index: 1;
}
.slider-container img.active{
    opacity: 1;
}
.slider-container .slider-number{
  position: absolute;
  left: 10px;
  top: 10px;
  background-color: rgba(0, 0, 0, .6);
  color: #FFF;
  padding: 5px 10px;
  font-size: 20px;
  z-index: 2;
  border-radius: 6px;
}
.slider-controls{
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px  auto 0;
}
.slider-controls .prev,
.slider-controls .next {
  background-color: #009688;
  color: #FFF;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  padding: 5px;
  user-select: none;
  width: 20%;
}
.slider-controls .prev {
    float: left;
    
  }
  .slider-controls .next {
    float: right;
  }
  .slider-controls .prev.disabled,
.slider-controls .next.disabled {
  background-color: rgba(0, 150, 136, 0.5);
  cursor: no-drop;
}
.slider-controls .indecators {
  width: 60%;
  height: 20px;
  float: left;
}
.slider-controls .indecators ul {
    list-style: none;
    margin: 0;
    text-align: center;
  }
  .slider-controls .indecators ul li {
    display: inline-block;
    background-color: #F6F6F6;
    color: #333;
    font-weight: bold;
    height: 28px;
    width: 28px;
    border-radius: 4px;
    margin: 0 2px;
    line-height: 28px;
    cursor: pointer;
  }
  .slider-controls .indecators ul li.active {
    background-color: #009688;
    color: #FFF;
  }